{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-3">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        {% csrf_token %}
                        <h3 class="text-center text-info-emphasis mt-4">Login</h3>
                        <div class="form-group">
                            <label for="id_username" class="text-info-emphasis">Email:</label><br>
                            <input type="email" name="username" required="" id="id_username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="id_password" class="text-info-emphasis">Password:</label><br>
                            <input id="id_password" autocomplete="current-password" name="password" type="password"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn text-bg-success btn-md mt-2" value="Submit">
                        </div>
                        {% for error in form.non_field_errors %}
                            <div class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }} + {{ field }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ error }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endfor %}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
