{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Hello from Home page</h1>
        Welcome, {{ user.email }}
    {% else %}
        <div id="index">
            <div class="container text-center">
                <div class="row">
                    <h3 class="text-center text-info-emphasis mt-4">Login or Signup</h3>
                </div>
                <div class="row">
                    <div class="col text-md-end">
                        <button class="btn btn-light"><a href="{% url 'login' %}">Login</a></button>
                    </div>
                    <div class="col text-md-start">
                        <button class="btn btn-light"><a href="{% url 'signup' %}">Signup</a></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
